<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <link href="{{ url_for('static', path='/styles/edit_profile.css') }}" rel="stylesheet">
    <title>Редактирование анкеты</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data" id="form">

        <div class="corbots_logo" id="corbots_logo">
            <h1 id="logo_h1">КЛИК-БОТ ❤️</h1>
            <h2 id="logo_h2">Редактирование анкеты</h2>
        </div>


        <div class="form_block" id="username_form">
            <h2 class="for_input">Имя:</h2>
            <input type="text" placeholder="Имя" id="username_input" class="write" name="name" autocomplete="off" value="{{ profile_info.name }}">
            <p class="error" id="error_username"></p>
        </div>


        <div class="form_block" id="age_form">
            <h2 class="for_input">Возраст:</h2>
            <input type="number" placeholder="Возраст" step="1" min="18" max="80" id="age_input" class="write" name="age" autocomplete="off"  value="{{ profile_info.age }}">
            <p class="error" id="error_age"></p>
        </div>


        <div class="form_block" id="gender_form">
            <h2 class="for_input">Пол:</h2>
            <div id="gender_type">
                <div class="form_radio_btn" id="gender">
                    <input type="radio" name="gender" value="Мужчина" id="input_male" class="radio" {% if profile_info.gender == "Мужчина" %} checked {% endif %}>
                    <label for="input_male">💁‍♂️ Мужской</label>
                </div>
                <div class="form_radio_btn" id="gender">
                    <input type="radio" name="gender" value="Женщина" id="input_female" class="radio" {% if profile_info.gender == "Женщина" %} checked {% endif %}>
                    <label for="input_female">💁‍♀️ Женский</label>
                </div>
            </div>
            <p class="error" id="error_gender"></p>
        </div>


        <div class="form_block" id="city_form">
            <h2 class="for_input">Город:</h2>
            <div class="autocomplete">
                <input type="text" id="city_input" placeholder="Введите город" class="write" name="city" autocomplete="off" value="{{ profile_info.city }}">
                <div class="autocomplete-items"></div>
            </div>
            <p class="error" id="error_city"></p>
        </div>


        <div class="form_block" id="preferences_form">
            <h2 class="for_input">❤️ С кем хочешь знакомиться?</h2>
            <div id="preferences_type">
                <div class="form_radio_btn" id="prefer">
                    <input type="radio" id="input_with_male" class="radio" name="preferences" value="С мужчинами" {% if profile_info.preferences == "С мужчинами" %} checked {% endif %}>
                    <label for="input_with_male">С мужчинами</label>
                </div>
                <div class="form_radio_btn" id="prefer">
                    <input type="radio" id="input_with_female" class="radio" name="preferences" value="С женщинами" {% if profile_info.preferences == "С женщинами" %} checked {% endif %}>
                    <label for="input_with_female">С женщинами</label>
                </div>
                <div class="form_radio_btn" id="prefer">
                    <input type="radio" id="input_with_everyone" class="radio" name="preferences" value="Со всеми" {% if profile_info.preferences == "Со всеми" %} checked {% endif %}>
                    <label for="input_with_everyone">Со всеми</label>
                </div>
            </div>
            <p class="error" id="error_prefer"></p>
        </div>


        <div class="form_block" id="target_form">
            <h2 class="for_input">🎯 Цели знакомства</h2>
            <p>Можно выбрать несколько или оставить пустым</p>
            <div id="target_type">
                <div class="form_radio_btn" id="target">
                    <input type="checkbox" name="target" value="Общение" id="communication" class="radio" {% if profile_info.target %} {% if "Общение" in profile_info.target %} checked {% endif %} {% endif %}>
                    <label for="communication">Общение</label>
                </div>
                <div class="form_radio_btn" id="target">
                    <input type="checkbox" name="target" value="Вечеринка" id="party" class="radio" {% if profile_info.target %} {% if "Вечеринка" in profile_info.target %} checked {% endif %} {% endif %}>
                    <label for="party">Вечеринка</label>
                </div>
                <div class="form_radio_btn" id="target">
                    <input type="checkbox" name="target" value="Встреча 18+" id="18+" class="radio" {% if profile_info.target %} {% if "Встреча 18+" in profile_info.target %} checked {% endif %} {% endif %}>
                    <label for="18+">Встреча 18+</label>
                </div>
                <div class="form_radio_btn" id="target">
                    <input type="checkbox" name="target" value="Свидание" id="date" class="radio" {% if profile_info.target %} {% if "Свидание" in profile_info.target %} checked {% endif %} {% endif %}>
                    <label for="date">Свидание</label>
                </div>
                <div class="form_radio_btn" id="target">
                    <input type="checkbox" name="target" value="Серьезные отношения" id="serious" class="radio" {% if profile_info.target %} {% if "Серьезные отношения" in profile_info.target %} checked {% endif %} {% endif %}>
                    <label for="serious">Серьезные отношения</label>
                </div>
            </div>
            <p class="error" id="error_target"></p>
        </div>


        <div class="form_block" id="photo_form">
            <div id="main_photo_block">
                <h2 class="for_input">📷 Основное фото</h2>
                <p>На фото должно быть видно ваше лицо</p>
                <label class="input-file">
                    <input id="photo_input_main" type="file" name="main_photo" accept="image/*">
                    <span class="input-file-btn" id="input-file-btn">Загрузить другое фото</span>
                </label>
                <p class="error" id="error_photo"></p>
                <div id="preview_imgs_main">
                    {% if profile_info.photos %}
                    <div class="image_block" id="image_block1">
                        <img src="{{ url_for('photos', path=profile_info.photos[0]) }}" name="{{ profile_info.photos[0] }}">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="more_photo_block">
                <h2 class="for_input">📷 Другие ваши фото</h2>
                <p>Максимум 4 фото</p>
                <label class="input-file">
                    <input id="photo_input_more" type="file" name="more_photos" accept="image/*" multiple>
                    <span class="input-file-btn" id="input-file-btn">Загрузить другие фото</span>
                </label>
                <div id="preview_imgs_more">
                    {% for photo in profile_info.photos[1:] %}
                    <div class="image_block" id="image_block{{ loop.index }}">
                        <img src="{{ url_for('photos', path=photo) }}" name="{{ photo }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="form_block" id="about_form">
            <h2 class="for_input">Информацию о себе:</h2>
            <p>Можно оставить пустым</p>
            <textarea placeholder="О себе" id="about_input" class="write" rows="6" maxlength="300" name="about" autocomplete="off">{{ profile_info.about if profile_info.about is not none }}</textarea>
            <p class="error" id="error_about"></p>

            <div class="agreement_block">
                <input type="checkbox" id="agreement" class="agreement" name="agreement" > 
                <label for="agreement" class="agreement_text" id="agreement_text">Я принимаю <a href="/license" target="_blank"> пользовательское соглашение, политику конфиденциальности </a> и подтверждаю, что мне есть 18 лет.</label>    
            </div>
            <p class="error" id="error_agreement"></p>
        </div>
        <button id="edit_profile" type="button">Сохранить</button>


        <div class="form_block" id="loading">
            <div class="loader">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', path= '/js/edit_profile.js') }}"></script>
    <script src="{{ url_for('static', path= '/js/consts.js') }}"></script>
</body>
</html>