<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <link href="{{ url_for('static', path='/styles/styles.css') }}" rel="stylesheet">
    <title>Пользовательское соглашение</title>
</head>
<body>

    <img src="{{ url_for('static', path= '/license/page-1.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-2.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-3.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-4.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-5.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-6.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-7.jpg') }}" class="license">
    <img src="{{ url_for('static', path= '/license/page-8.jpg') }}" class="license">

</body>
</html>